<ion-content [fullscreen]="true">

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-lg="6">

      <!-- CABEÇALHO DO CURRICULO -->

      <ion-row>
        <ion-col size="12" size-lg="4">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Foto_oficial_de_Luiz_In%C3%A1cio_Lula_da_Silva_%28ombros%29.jpg/1200px-Foto_oficial_de_Luiz_In%C3%A1cio_Lula_da_Silva_%28ombros%29.jpg">
        </ion-col>
        <ion-col size="12" size-lg="8">
          <ion-label>
            <h1>Luiz Inácio Lula da Silva</h1>
            <h2>Programador de Impostos</h2>
          </ion-label>
        </ion-col>
      </ion-row>

      <!-- DIVISORIA -->

      <ion-row>
        <ion-col size="4">
          <ion-item-divider></ion-item-divider>
        </ion-col>
        <ion-col size="4" class="ion-text-center">CONTATO
        </ion-col>
        <ion-col size="4">
          <ion-item-divider></ion-item-divider>
        </ion-col>
      </ion-row>

      <!-- INFORMAÇÕES DE CTT -->

        <ion-card>
          <ion-row>
            <ion-col size="12">
                <ion-item>
                  <ion-label>Telefone: 000000000</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>E-mail: luis.lula13@gmail.com</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>Github: github.com/LuisInacio</ion-label>
                </ion-item>
            </ion-col>
          </ion-row>
        </ion-card>

        

      














































    </ion-col>
  </ion-row>

</ion-content>